*{
margin: 0px;
padding: 0px;
font-family: 'Roboto';
}

.content-box{
    background: linear-gradient(90deg, #16222a 0%, #3a6073 100%);
    
}
.containerText{
    padding: 50px 90px;
}

.content-box .titleSkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-box .titleSkills h2{
    display: inline-block;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
    font-weight:600 ;
}
.content-box .titleSkills h6{
    color: rgb(184, 184, 184);
    margin: 6px 0px;
}
.skillBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 700px;
}

.textBox {
    margin-bottom: 50px;
    color: #fff;
    max-width: 700px;
}
.textBox h4{
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 20px;  
}
.textBox p {
    font-size: 1.1em;
}

.habilities{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.habilities .item{
    width: 150px;
    margin: 20px 50px 60px;
}

@media screen and (max-width:760px) {
    .skills{
        min-width: 500px;
    }
    .habilities .item{
        width: 150px;
        margin: 20px
    }
}
@media screen and (max-width:510px) {
    .skills{
        min-width: 300px;
    }
    .habilities .item{
        width: 130px;
    }
}
